apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: comment-api-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: comment-api
  minReplicas: 2 # Professional tip: always have at least 2 for zero-downtime
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60 # Scale up if CPU hits 60%