appName: post-api
replicaCount: 2
secretName: post-api-secrets # The secret managed by SealedSecrets/ExternalSecrets

image:
  repository: ghcr.io/MicroServices-SocialApp/Post-API
  tag: "sha-123456" # Updated by CI
  pullPolicy: IfNotPresent

service:
  port: 80
  targetPort: 8000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPU: 60

resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi