apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
spec:
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
      - name: auth-api
        image: auth-api:local
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "100m"   # 10% of a CPU core
            memory: "128Mi"
          limits:
            cpu: "200"
            memory: "256Mi"
        env:

        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: auth-api-secrets
              key: SECRET_KEY
        
        - name: ALGORITHM
          valueFrom:
            secretKeyRef:
              name: auth-api-secrets
              key: ALGORITHM

---
apiVersion: v1
kind: Service
metadata:
  name: auth-api
spec:
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: auth-api