name: Update Submodules
on:
  repository_dispatch:
    types: [microservice_updated]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN_FOR_ALL_MICROSERVICES }}
          submodules: true

      - name: Pull latest submodule changes
        run: |
          git submodule update --remote --merge
          git config --global user.name "GitHub Action"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "chore: auto-update microservices" || echo "No changes"
          git push
