name: Update and Deploy Microservices

on:
  repository_dispatch:
    types: [microservice_updated]
  workflow_dispatch:

jobs:
  update-and-deploy:
    runs-on: ubuntu-latest
    env:
      SERVICE: ${{ github.event.client_payload.service_name }}
      
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALGORITHM: ${{ secrets.ALGORITHM }}
      

      USER_POSTGRES_USERNAME: ${{ secrets.USER_POSTGRES_USERNAME }}
      USER_POSTGRES_PASSWORD: ${{ secrets.USER_POSTGRES_PASSWORD }}
      USER_POSTGRES_DB_NAME: ${{ secrets.USER_POSTGRES_DB_NAME }}
      USER_DATABASE_URL: postgresql+asyncpg://${{ secrets.USER_POSTGRES_USERNAME }}:${{ secrets.USER_POSTGRES_PASSWORD }}@user-db:5432/${{ secrets.USER_POSTGRES_DB_NAME }}
      

      POST_POSTGRE_USERNAME: ${{ secrets.POST_POSTGRE_USERNAME }}
      POST_POSTGRE_PASSWORD: ${{ secrets.POST_POSTGRE_PASSWORD }}
      POST_POSTGRE_DB_NAME: ${{ secrets.POST_POSTGRE_DB_NAME }}
      POST_DATABASE_URL: postgresql+asyncpg://${{ secrets.POST_POSTGRE_USERNAME }}:${{ secrets.POST_POSTGRE_PASSWORD }}@post-db:5432/${{ secrets.POST_POSTGRE_DB_NAME }}


      COMMENT_POSTGRES_USERNAME: ${{ secrets.COMMENT_POSTGRES_USERNAME }}
      COMMENT_POSTGRES_PASSWORD: ${{ secrets.COMMENT_POSTGRES_PASSWORD }}
      COMMENT_POSTGRES_DB_NAME: ${{ secrets.COMMENT_POSTGRES_DB_NAME }}
      COMMENT_DATABASE_URL: postgresql+asyncpg://${{ secrets.COMMENT_POSTGRES_USERNAME }}:${{ secrets.COMMENT_POSTGRES_PASSWORD }}@post-db:5432/${{ secrets.COMMENT_POSTGRES_DB_NAME }}


    steps:
      - name: Checkout Parent Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN_FOR_ALL_MICROSERVICES }}
          submodules: 'true' # Initial check
          fetch-depth: 0

      - name: Update Specific Submodule Only
        run: |
          echo "Updating service: $SERVICE"
          # Configure Git
          git config --global user.name "GitHub Action"
          git config --global user.email "actions@github.com"

          # 1. Update only the targeted submodule
          git submodule update --init --remote $SERVICE
          
          # 2. Navigate into it and ensure it's on the right SHA/Branch
          cd $SERVICE
          git checkout main
          git pull origin main
          cd ..

          # 3. Commit the specific pointer change back to parent
          git add $SERVICE
          git commit -m "chore(deps): update $SERVICE to latest" || echo "No changes for $SERVICE"
          git push

      - name: Build and Push Updated Service
        run: |
          echo "Now building only the updated Docker image for: $SERVICE"
          # Example: docker build -t my-reg/$SERVICE:${{ github.event.client_payload.sha }} ./$SERVICE